<h1>List of students</h1>

<div>
  <!-- use ngClass to style buttons -->
  <!-- two vertical bars are a piece of text to separate the buttons -->
  <!-- so they don't but up against each other -->
  <!-- or could use &ngsp; for one space or &ngsp; &ngsp; for two spaces-->
  <button [ngClass]="btnStyle" (click)="getStudents()">Get the students-click me</button>
  || <button (click)="changeColor()">Change color of button - click me</button>
</div>

<table class="table table-sm">
  <tr>
    <!-- column headings -->
    <th>Name</th>
    <th>Number</th>
    <th>Color</th>
  </tr>
  <!-- column data -->
  <!-- for loop attached to html and refers to app.component.ts -->
  <!-- if student favColor is blue, the entire student instance will be hidden -->
  <tr *ngFor="let student of students" [hidden]="student.favColor == 'blue'">
    <td>{{ student.name }}</td>
    <td>{{ student.favNumber }}</td>
    <td>{{ student.favColor }}</td>
  </tr>
</table>